<p>Edit objective</p>

<%= form_for :objective, url: objective_path, :method => :PUT do |f| %>
  <% if @objective.errors.any? %>
    <div id="form_error">
      <% @objective.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :deadline %>
    <%= f.date_select :deadline %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<p><%= link_to 'Cancel', objectives_path %></p>
