
<h2>List of current objectives</h2>

<p>
  Download objectives:
  <%= link_to "CSV", objectives_path(format: "csv") %> |
  <%= link_to "Excel", objectives_path(format: "xlsx") %>
</p>

<% @objectives.each do |objective| %>
  <h3><%= objective.title %></h3>
  <p><%= objective.description %></p>
  <p><%= objective.deadline.strftime("%A %d %b %Y") %> (<%= distance_of_time_in_words(objective.deadline, DateTime.now) %> from now)</p>
  <p><%= link_to "Edit", edit_objective_path(objective) %> | <%= link_to "View", objective_path(objective) %> | <%= link_to "Delete", objective_path(objective), method: :delete, data: {confirm: 'Are you sure?'} %>
      </p>
  <hr />
<% end %>

<p><%= link_to 'Add a new objective', new_objective_path %></p>
