<p>
  <strong>Title:</strong>
  <%= @objective.title %>
</p>

<p>
  <strong>Description</strong>
  <%= @objective.description %>
</p>

<p>
  <strong>Deadline</strong>
  <%= @objective.deadline %>
</p>

<p><%= link_to "Edit", edit_objective_path(@objective) %> | <%= link_to 'Back to index', objectives_path %></p>
